@model ChatApp.Models.TotalModelChat

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script src="~/Assets/JS/MainChatHandle.js"></script>
    <link href="~/Assets/CSS/chatfriend.css" rel="stylesheet" />
    <script src="~/Assets/JS/chatfriend.js"></script>

    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>

    @*<script src='<%: ResolveClientUrl("~/Scripts/jquery.signalR-2.2.0.js") %>'></script>
    <script src='<%: ResolveClientUrl("~/signalr/hubs") %>'></script>*@
    <!--Add script to update the page and send messages.-->
}

@section userinfo
{
    <div class="user-pic">
        @if (Model.UserLogin.Pathimage == null || Model.UserLogin.Pathimage.Trim() == "")
        {
            <img class="img-responsive img-rounded" src="/Images/img-friend.png" alt="User picture" />
        }
        else
        {
            <img class="img-responsive img-rounded" src="@Model.UserLogin.Pathimage" alt="User picture">
        }
    </div>
    <div class="user-info" data-userid="@Model.UserLogin.Id.Trim()">
        <span class="user-name">
            @Model.UserLogin.Nameshow.Trim()
        </span>
        @if (Model.UserLogin.Role.Trim() == "admin")
        {
            <span class="user-role">Quản trị viên</span>
        }
        else
        {
            <span class="user-role">Người dùng</span>
        }
        <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Đang hoạt động</span>
        </span>
    </div>
}
<div class="row row-function">
    <!-- Chat form -->
    <div class="onlinechat">
        <div class="header-online">
            <h5>Người dùng online</h5>
        </div>

        <div class="body-online-list">
            <div class="online-list mCustomScrollbar" data-mcs-theme="minimal-dark">
                <ul>
                    @foreach (var item in Model.ListFriendInfo)
                    {
                        string userid = "";
                        string connectionid = "";
                        string name = "";
                        if (item.IsGroup == true)
                        {
                            userid = "";
                            connectionid = "";
                            name = item.GroupName.Trim();
                        }
                        else
                        {
                            userid = item.Id.Trim();
                            connectionid = item.Connectionid.Trim();
                            name = item.Nameshow.Trim();
                        }
                        <li>
                            <div class="onlineitem" data-conversationid="@item.Conversationid.Trim()" data-connectionid="@connectionid" data-userid="@userid">
                                <div class="img">
                                    @if (item.Onlinestatus == true)
                                    {
                                        <i class="fa fa-circle online"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-circle offline"></i>
                                    }
                                    @if (item.IsGroup == true)
                                    {
                                        <img src="~/Images/group.png" isgroup="true">
                                    }
                                    else
                                    {
                                        if (item.PathImage.Trim().Length == 0 || item.PathImage == null)
                                        {
                                            <img src="~/Images/img-friend.png" isgroup="false">
                                        }
                                        else
                                        {
                                            <img src="@item.PathImage.Trim()" isgroup="false">
                                        }
                                    }
                                </div>
                                <div class="desc">
                                    <h5>@name</h5>
                                </div>

                                @if ((bool)item.ReadStatus == true)
                                {
                                    <div class="tickread readfriend">
                                        <i class="fas fa-comment"></i>
                                    </div>
                                }
                                else
                                {
                                    <div class="tickread">
                                        <i class="fas fa-comment"></i>
                                    </div>
                                }

                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!-- end body online -->
    </div>
    <!-- end online list -->

    <div class="main-chat">
        <div class="head-chat">
            <div class="headLeft-chat">
                <div class="headLeft-sub">
                    <!-- <input type="text" name="search" placeholder="Search...">
                    <button> <i class="fa fa-search"></i> </button> -->
                    <h5>Lịch sử trò chuyện</h5>
                </div>
            </div>
            <div class="headRight-chat">
                <div class="headRight-sub">
                    <h3></h3>
                    <small></small>
                </div>
            </div>
        </div>
        <div class="body-chat">
            <div class="left-chat mCustomScrollbar" data-mcs-theme="minimal-dark">
                <ul>
                    @foreach (var item in Model.ListChatLogInfo)
                    {
                        <li>
                            <div class="chatList" data-conversationid=@item.Conversationid.Trim()>
                                <div class="img">

                                    @if (item.Isgroup == true)
                                    {
                                        <img src="~/Images/group.png" isgroup="true" />
                                    }
                                    else
                                    {
                                        if (item.PathImage == "")
                                        {
                                            <img src="/Images/img-friend.png" isgroup="false" />
                                        }
                                        else
                                        {
                                            <img src="@item.PathImage" isgroup="false" />
                                        }
                                    }
                                </div>
                                <div class="desc">
                                    <small class="time">@item.Lastmodified</small>
                                    <h5>@item.Name.Trim()</h5>
                                    @if (item.Readstatus == true)
                                    {
                                        <small class="mess-readed">@item.Lastmessage</small>
                                    }
                                    else
                                    {
                                        <small class="mess-unread">@item.Lastmessage</small>
                                    }
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="right-chat">
                <div class="message mCustomScrollbar" data-mcs-theme="minimal-dark">
                    <ul></ul>
                </div>
                <div class="right-chat-bottom">
                    <input autocomplete="off" id="messagecontent" type="text" name="" placeholder="type here...">
                    <button class="btn-send"><i class="fas fa-share-square"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- End chat form -->
</div>